* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "comic mono";
}

body {
  background-color: #101010;
  color: rgb(0, 136, 255);
}

h1 {
  font-size: 4rem;
  text-align: center;
  padding: 20px 0px;
  margin-bottom: 40px;
}

.content-box {
  max-width: 80%;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content {
  box-shadow: #000000 3px 2px 10px;
  padding: 20px;
}

.content h2 {
  color: rgb(0, 213, 50);
  font-size: 2rem;
  margin-bottom: 4px;
}

.content p {
  font-size: 1rem;
  color: aliceblue;
}

.circle {
  width: 80%;
  font-size: 3rem;
  text-align: center;
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.loader {
  width: 150px;
  height: 150px;
  position: relative;
}

.loader .one,
.loader .two,
.loader .three,
.loader .four,
.loader .five,
.loader .six {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  animation-name: loading;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  animation-timing-function: ease;
}

.loader .one {
  background-color: rgba(0, 136, 255, 0.134);
}

.loader .two {
  background-color: rgba(0, 136, 255, 0.233);
  animation-delay: 500ms;
}

.loader .three {
  background-color: rgba(0, 136, 255, 0.397);
  animation-delay: 1s;
}

.loader .four {
  background-color: rgba(0, 136, 255, 0.485);
  animation-delay: 1.5s;
}

.loader .five {
  background-color: rgba(0, 136, 255, 0.501);
  animation-delay: 2s;
}

.loader .six {
  background-color: rgba(0, 136, 255, 0.674);
  animation-delay: 2.5s;
}

@keyframes loading {
  0% {
    scale: 0;
    opacity: 1;
  }
  100% {
    scale: 1;
    opacity: 0;
  }
}
